In [1]:
import numpy as np
import pandas as pd

In [2]:
"""Creacion de objetos
Las SERIES son vectores (arrays) uni-dimensionales que contienen cualquier tipo de dato (
integer, string, float, objetos python, etc)"""
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
"""
Creando un DataFrame pasando un array NumPy (un objeto array en NumPy es llamado ndarray)
se usan NumPy arrays pero tambien se pueden usar lists pero generalmente se usan NumPy arrais porque utilizan
menos memoria para almacenar los datos.
"""
dates = pd.date_range('20200101', periods=6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [13]:
df

                   A         B         C         D
2020-01-01 -0.395638 -1.267917 -1.596983  1.742786
2020-01-02 -0.042654  0.928998  0.761182 -1.268515
2020-01-03  1.022689  1.376217 -2.343411  1.369465
2020-01-04  0.737480  0.001694 -0.339590  1.247251
2020-01-05  0.139700  1.578785 -1.262900  0.813064
2020-01-06  0.221950 -0.681008  1.209054  0.977797

In [17]:
df2 = pd.DataFrame({'A': 1.,
   ...:                     'B': dates[0],
   ...:                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
   ...:                     'D': np.array([3] * 4, dtype='int32'),
   ...:                     'E': pd.Categorical(["test", "train", "test", "train"]),
   ...:                     'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2020-01-01  1.0  3   test  foo
1  1.0 2020-01-01  1.0  3  train  foo
2  1.0 2020-01-01  1.0  3   test  foo
3  1.0 2020-01-01  1.0  3  train  foo

In [18]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object